<ion-view title="{{ episode.fields.title }}">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>{{ episode.fields.title }}</h2>
        <p>{{ episode.fields.description }}</p>
      </div>

      <div class="item item-image">
        <img src="{{ episode.fields.thumbnail }}">
      </div>

      <div class="item item-icon-left">
      <i class="icon" ng-class="audio.paused ? 'ion-play' : 'ion-pause'" ng-click='audio.paused ? audio.play() : audio.pause()'></i>
      <div class='currentTime'>{{ audio.currentTime | trackTime }}</div>
      <seekbar ng-model="audio.progress"></seekbar>
    </div>

    </div>
    
  </ion-content>
</ion-view>
