<ion-view title="{{ episode.fields.title }}">
  <ion-nav-buttons side="left">
      <a ui-sref="app.episodes" menu-toggle="left" class="button button-icon icon ion-ios-arrow-back"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list episode card">

      <div class="item">
        <h2>{{ episode.fields.title }}</h2>
        <p>{{ episode.fields.description }}</p>
      </div>

      <div class="item item-image">
        <ion-spinner ng-hide="!loading"></ion-spinner>
        <img class="episode-image" src="{{ episode.fields.thumbnail }}">
      </div>

      <div class="item item-icon-left">
      <ion-spinner class="icon" ng-hide="!waiting"></ion-spinner>
      <i class="icon" ng-hide="waiting" ng-class="audio.paused ? 'ion-play' : 'ion-pause'" ng-click='audio.paused ? audio.play() : audio.pause()'></i>
      <seekbar ng-model="audio.progress"></seekbar>
    </div>

    </div>
    
  </ion-content>
</ion-view>
